{% extends "base.html" %}

{% block title %}Главная - Academic Work Manager{% endblock %}

{% block content %}
  {% if student_workspace %}
    {% include "partials/student_workspace.html" %}
  {% elif teacher_topics %}
    {% include "partials/teacher_topics.html" %}
  {% elif teacher_topic_edit %}
    {% include "partials/teacher_topic_edit.html" %}
  {% elif teacher_requests %}
    {% include "partials/teacher_requests.html" %}
  {% elif admin_assignments %}
    {% include "partials/admin_assignments.html" %}
  {% elif admin_import %}
    {% include "partials/admin_import.html" %}
  {% elif admin_assignment_edit %}
    {% include "partials/admin_assignment_edit.html" %}
  {% elif assignment_form %}
    {% include "partials/assignment_form.html" %}
  {% elif dashboard %}
    {% include "partials/dashboard.html" %}
  {% else %}
    {% include "partials/home_intro.html" %}
  {% endif %}
{% endblock %}
